<nav class="bottom-nav" aria-label="Primary navigation">
  <a class="bottom-nav-link {% if active_nav == 'home' %}is-active{% endif %}" href="{{ request.url_for('home_page') }}" {% if active_nav == 'home' %}aria-current="page"{% endif %}>
    {% set icon_name = 'home' %}
    {% set icon_class = 'bottom-nav-icon' %}
    {% include 'partials/_heroicon.html' %}
    <span>Home</span>
  </a>
  <a class="bottom-nav-link {% if active_nav == 'inventory' %}is-active{% endif %}" href="{{ request.url_for('inventory_home') }}" {% if active_nav == 'inventory' %}aria-current="page"{% endif %}>
    {% set icon_name = 'squares-2x2' %}
    {% set icon_class = 'bottom-nav-icon' %}
    {% include 'partials/_heroicon.html' %}
    <span>Inventory</span>
  </a>
  <a class="bottom-nav-link {% if active_nav == 'add' %}is-active{% endif %}" href="{{ request.url_for('new_product_page') }}" {% if active_nav == 'add' %}aria-current="page"{% endif %}>
    {% set icon_name = 'plus' %}
    {% set icon_class = 'bottom-nav-icon' %}
    {% include 'partials/_heroicon.html' %}
    <span>Add</span>
  </a>
  <a class="bottom-nav-link {% if active_nav == 'soon' %}is-active{% endif %}" href="{{ request.url_for('inventory_soon') }}" {% if active_nav == 'soon' %}aria-current="page"{% endif %}>
    {% set icon_name = 'clock' %}
    {% set icon_class = 'bottom-nav-icon' %}
    {% include 'partials/_heroicon.html' %}
    <span>Soon</span>
  </a>
  <a class="bottom-nav-link {% if active_nav == 'more' %}is-active{% endif %}" href="{{ request.url_for('more_page') }}" {% if active_nav == 'more' %}aria-current="page"{% endif %}>
    {% set icon_name = 'ellipsis-horizontal' %}
    {% set icon_class = 'bottom-nav-icon' %}
    {% include 'partials/_heroicon.html' %}
    <span>More</span>
  </a>
</nav>
